.user-container {
  background-color: rgb(236, 204, 163);
  padding: 20px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
  align-items: center;
  margin: 1rem;
}

#user-img {
  height: 100px;
  border-radius: 100px;
}
